.blocks {
  display: flex;
  flex-wrap: wrap;
}

.blocks__button {
  font-family: $roboto;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b2d37;
  width: 100%;
  margin-top: -4px;
  margin-bottom: 14px;
  margin-left: 0;
  padding: 0;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
}

.blocks__list {
  list-style: none;
  padding-left: 0;
  margin-right: 74px;
  margin-top: 0;
  margin-bottom: 0;
}

.blocks label {
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.blocks__list a {
  color: rgba($color: #1b2d37, $alpha: 0.5);

  &:hover,
  &:focus,
  &:active {
    color: rgba($color: #1b2d37, $alpha: 0.7);
  }
}

@media (max-width: $tablet-width) {
  .blocks {
    flex-direction: column;
  }

  .blocks__button {
    margin-bottom: 23px;
  }
}

@media (max-width: $mobile-width) {
  .blocks {
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 2px;
  }

  .blocks__button {
    padding-left: 14px;
    padding-top: 28px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .blocks__list {
    margin-left: 14px;
    margin-right: 14px;
  }

  .blocks__list--1 {
    margin-top: 7px;
  }

  .blocks__list--2 {
    padding-bottom: 21px;
  }

  .blocks::after {
    @include line;
    top: auto;
    bottom: 0;
  }

  .blocks__button::after {
    @include open;
    display: none;
    right: 17px;
    top: 29px;
  }

  .blocks--activeJS::after {
    display: block;
  }

  .blocks--activeJS .blocks__list {
    display: none;
  }

  .blocks__button--minus::after {
    display: block;
    background-image: url("../img/icon-minus.svg");
  }

  .blocks--activeJS .blocks__button::after {
    display: block;
  }
}
