.goods {
  background-color: #1b2d37;
  color: #ffffff;
  font-family: $roboto;
  padding-left: 25px;
  padding-right: 25px;
}

.goods h3 {
  margin-bottom: 53px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.goods__wrapper {
  max-width: 1170px;
  padding-top: 50px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.goods__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goods__item {
  display: block;
  width: 370px;
  height: 620px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }
}

.goods__item p {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  max-width: 170px;
  margin-top: 50px;
  margin-left: 45px;
}

.goods__list li:nth-child(3n-1) {
  margin-right: 30px;
  margin-left: 30px;
}

.goods__image {
  position: relative;
}

.goods__image img {
  opacity: 0.2;
  position: absolute;
}

.goods__button {
  display: block;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 54% 50%;
}

.goods__image--production img {
  top: -57px;
  left: -362px;
}

.goods__image--mount img {
  top: -27px;
  left: -321px;
}

.goods__image--accessories img {
  top: 0;
  left: -126px;
  height: 620px;
  width: 622px;
}

@media (max-width: 1219px) {
  .goods__list {
    max-width: 1100px;
  }

  .goods__list li:nth-child(3n-1) {
    margin-right: 0;
    margin-left: 0;
  }

  .goods__list li:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (max-width: $tablet-width) {
  .goods__wrapper {
    padding-top: 18px;
    padding-bottom: 32px;
  }

  .goods h3 {
    font-size: 32px;
    line-height: 140.62%;
    padding-right: 90px;
    margin-bottom: 51px;
  }

  .goods__item {
    width: 715px;
    height: 256px;
    margin-bottom: 46px;
  }

  .goods__list li:nth-child(2n) {
    margin-left: 0;
  }

  .goods__item p {
    margin-top: 40px;
    margin-left: 42px;
  }

  .goods__item--accessories p {
    margin-top: 50px;
  }

  .goods__image--production img {
    top: -139px;
    left: -46px;
    width: 800px;
    height: 530px;
  }

  .goods__image--mount img {
    top: -522px;
    left: -627px;
    width: 1970px;
    height: 1300px;
  }

  .goods__image--accessories img {
    top: -476px;
    left: -241px;
    height: 1206px;
    width: 1205px;
  }
}

@media (max-width: $mobile-width) {
  .goods {
    padding-left: 15px;
    padding-right: 15px;
  }

  .goods__list {
    flex-direction: column;
    align-items: center;
  }

  .goods__wrapper {
    padding-bottom: 34px;
  }

  .goods h3 {
    font-size: 28px;
    padding-right: 0;
    margin-top: 31px;
    padding-left: 10px;
    margin-bottom: 42px;
  }

  .goods__item p {
    margin-top: 20px;
    margin-left: 35px;
  }

  .goods__item--accessories p {
    margin-top: 30px;
  }

  .goods__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
  }

  .goods__image--production img {
    top: -24px;
    left: -82px;
    width: 452px;
    height: 300px;
  }

  .goods__image--mount img {
    top: -135px;
    left: -255px;
    width: 800px;
    height: 525px;
  }

  .goods__image--accessories img {
    top: -115px;
    left: -98px;
    height: 485px;
    width: 485px;
  }
}
