.socials {
  list-style: none;
  padding-left: 0;
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-right: 17px;
}

.socials__link span {
  visibility: hidden;
}

.socials__link {
  display: block;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--class {
    background-image: url("../img/icon-class.svg");
  }

  &--vk {
    background-image: url("../img/icon-vk.svg");
  }
}

@media (max-width: $tablet-width) {
  .socials {
    margin-top: 13px;
    margin-right: 4px;
  }

  .socials__item {
    margin-right: 16px;
  }
}

@media (max-width: $mobile-width) {
  .socials {
    margin-top: 18px;
    margin-right: -19px;
  }
}
